################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/.vs/windows-party
/source/caching/bin/Debug
/source/caching/obj/Debug
/source/caching.unittests/bin/Debug
/source/caching.unittests/obj/Debug
/source/contracts/bin/Debug
/source/contracts/obj/Debug
/source/data/bin/Debug
/source/data/obj/Debug
/source/data.unittests/bin/Debug
/source/data.unittests/obj/Debug
/source/http/bin/Debug
/source/http/obj/Debug
/source/http.unittests/bin/Debug
/source/http.unittests/obj/Debug
/source/logging/bin/Debug
/source/logging/obj/Debug
/source/logging.unittests/bin/Debug
/source/logging.unittests/obj/Debug
/source/packages
/source/services/bin/Debug
/source/services/obj/Debug
/source/services.unittests/bin/Debug
/source/services.unittests/obj/Debug
/source/wpfapp/bin/Debug
/source/wpfapp/obj/Debug
