################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsParty/WindowsParty/.vs/WindowsParty/v16
/WindowsParty/WindowsParty/packages
/WindowsParty/WindowsParty/WindowsParty/bin/Debug
/WindowsParty/WindowsParty/WindowsParty/obj/Debug
