################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsParty/WindowsParty/.vs/WindowsParty/v16
/WindowsParty/WindowsParty/packages
/WindowsParty/WindowsParty/WindowsParty/bin
/WindowsParty/WindowsParty/WindowsParty/obj
/WindowsParty/WindowsParty/WindowsParty.Tests/bin
/WindowsParty/WindowsParty/WindowsParty.Tests/obj
