<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlaygroundBaseUrl" value="http://playground.tesonet.lt/v1/" />
    <add key="PlaygroundTokensRelativePath" value="tokens" />
    <add key="PlaygroundServersRelativePath" value="servers" />
  </appSettings>
</configuration>