<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="TokenUrl" value="http://playground.tesonet.lt/v1/tokens"/>
    <add key="ServersUrl" value="http://playground.tesonet.lt/v1/servers"/>
  </appSettings>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="toFile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"
			/>
      <target name="errors" xsi:type="File"
				fileName="C:\logs\app-errors.txt"
				archiveFileName="C:\logs\archives\app-errors.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="toFile"/>
    </rules>
  </nlog>
  
</configuration>