<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <nlog autoReload="true">
    <targets>
      <target name="infoWarn" type="File" filename="${basedir}/logs/${date:format=yyyy-MM-dd}_info.txt" layout="${counter:increment=1}|${longdate}|${level:uppercase=true}|${logger}|${message}" />
      <target name="fatalError" type="File" filename="${basedir}/logs/${date:format=yyyy-MM-dd}_error.txt" layout="${counter:increment=1}|${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION OCCURRED\:${newline}${stacktrace}${newline}${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=type,message,method,stacktrace:separator= }}" />
    </targets>
    <rules>
      <logger name="*" levels="Info,Warn" writeTo="infoWarn" />
      <logger name="*" levels="Error,Fatal" writeTo="fatalError" />
    </rules>
  </nlog>
</configuration>