<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets async="true">
            <target name="main" xsi:type="File" fileName="windows-party.log" encoding="utf-8" />
        </targets>
        
        <rules>
            <logger name="*" minlevel="Info" writeTo="main" />
        </rules>
    </nlog>
</configuration>