<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <appender name="ServerRequestAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG" />
      <file value="Logs\ServerRequest.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <countDirection value="1" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="5MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d{dd.MM.yy HH:mm:ss} [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ServerRequestAppender" />
    </root>
    <logger name="ServerRequest" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="ServerRequestAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>